* { 
  margin: 0; /* Ganti 10 dengan 0 */
  padding: 0; /* Ganti 10 dengan 0 */
}

html {
  font-family: 'Bebas Neue', cursive;
  height: 100%;
}

body {
  height: 100%;
  margin: 0; /* Ganti 10 dengan 0 */
  overflow: hidden;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile>img {
  width: 150px;
  height: 150px;
  border: 3px solid #222;
  border-radius: 100%;
}

.profile>p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

/* Menampilkan tombol dalam 3 baris dan 2 kolom */
.link {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  gap: 10px; /* Jarak antar tombol */
  justify-items: center; /* Rata tengah secara horizontal */
  align-items: center; /* Rata tengah secara vertikal */
  padding: 20px 30px; /* Tambahkan padding horizontal */
}

/* Desain tombol */
.link>a {
  text-decoration: none;
  color: #222;
  font-size: 16px; /* Ukuran font lebih kecil */
  text-align: center;
  border: 3px solid #222;
  background-color: #eaeaea;
  border-radius: 8px;
  padding: 8px; /* Mengurangi padding vertikal tombol */
  text-transform: uppercase;
  font-weight: 500;
  width: 120px; /* Lebar tombol lebih kecil */
  display: block;
}

.link>a:hover {
  background-color: azure;
}

/* Footer */
.footer {
  text-align: center;
}

.footer>i {
  color: white;
  font-size: 20px;
}
